.header-nav {
  padding-top: 17px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  > .item {
    @include set-font-size(50px);
  }
  > .logo {
    width: 282px;
    height: 81px;
  }
}
