.header-wrapper {
  padding-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header-wrapper > .item {
  font-size: 50px;
  /* add PX (or original value) as backup */
  /* do nothing, "inherit" has no unit */
}

.header-wrapper > .logo {
  width: 282px;
  height: 81px;
}
