@import "../generic/reset";
@import "../settings/fonts";
@import "../settings/colors";

body {
  background-color: $color-bg;
  height: 100%;
}

h1 {
  font-family: $font-second;
  color: $color-text;
}

h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span {
  font-family: $font-primary;
  color: $color-text;
}
