@import "../tools/tools";
@import "../settings/colors";

.wrapper {
  height: 100vh;
}

.carousel-wrapper {
  height: 89%;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.plate-text {
  height: 100%;
  // position: relative;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  > .title {
    @include set-font-size(52px);
    @include rem-line-height(75);
    @include letter-spacing(3.24);
    // position: relative;
  }

  > .description-wrapper {
    display: flex;
    flex-flow: column wrap;
    // justify-content: center;
    align-items: flex-end;

    > .description {
      @include set-font-size(46px);
      @include rem-line-height(75);
      @include letter-spacing(2.76);
    }

    > .price {
      @include set-font-size(46px);
      @include rem-line-height(75);
      @include letter-spacing(2.76);
      justify-self: center;
    }
  }
  > .button {
    display: flex;
    width: 260px;
    height: 73px;
    // padding: 24.7px 68.1px 22.3px 99.9px;
    background-color: $color-black;
    color: $color-white;
    border-radius: 33px;
    @include set-font-size(20px);
    @include rem-line-height(50);
    @include letter-spacing(1);
    text-transform: uppercase;
    justify-content: space-evenly;
    align-items: center;
  }
}

.plate-section {
  > .image {
    width: 812px;
    height: 372px;
  }
}
