@import "../tools/tools";
@import "../settings/colors";

.wrapper {
  height: 100vh;
  background-image: url("../../img/bg-elipse.svg");
  background-repeat: no-repeat;
  // background-position: 330px 135px;
  background-position: 47.36% -33.42%;
}

.carousel-wrapper {
  height: 89%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.plate-text {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
  left: -9%;
  > .title {
    @include set-font-size(52px);
    @include rem-line-height(75);
    @include letter-spacing(3.24);
    position: relative;
  }

  > .description-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;

    > .description {
      @include set-font-size(46px);
      @include rem-line-height(75);
      @include letter-spacing(2.76);
    }

    > .price {
      @include set-font-size(46px);
      @include rem-line-height(75);
      @include letter-spacing(2.76);
      justify-self: center;
    }
  }
}

.plate-section {
  display: flex;
  flex-flow: column wrap;
  flex: 0 0 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  > .image {
    width: 812px;
    height: 372px;
  }
}
